@charset "UTF-8";
/* CSS Document */

.header {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

th {
	text-align: center;
}

tr {
	text-align: center;
}

.content {
	text-align: center;
}

body {
	background-color: lightblue;
}


